{% extends 'base.html.twig' %}

{% block title %}WeatherCompass{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('forms') }}
{% endblock %}

{% block body %}
    <nav class='nav-go-back'>
        <a href="{{ path('app_home') }}">
            {% include "components/icons/arrow_left.svg" %}
            Retour
        </a>
    </nav>

    <h1 class="h3 mb-3 font-weight-normal">{{ 'Connexion'|trans }}</h1>

    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                {{ 'Vous êtes déjà connecté(e) en tant que'|trans ~ ' ' ~ app.user.userIdentifier }},
                <a href="{{ path
                    ('app_logout') }}">{{ 'Déconnexion'|trans }}</a>
            </div>
        {% endif %}

        <div>
            <label for="inputUsername">{{ 'Nom d\'utilisateur'|trans }}</label>
            <input type="text"
                   value="{{ last_username }}"
                   name="username"
                   id="inputUsername"
                   class="form-control"
                   autocomplete="username"
                   required
                   autofocus>
        </div>
        <div>
            <label for="inputPassword">{{ 'Mot de passe'|trans }}</label>
            <input type="password"
                   name="password"
                   id="inputPassword"
                   class="form-control"
                   autocomplete="current-password"
                   required>
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <button class="btn btn-lg btn-primary" type="submit">
            {{ 'Valider'|trans }}
        </button>
        <a href="{{ path('app_register') }}">{{ 'Créer un compte'|trans }}</a>
        <a href="{{ path('app_forgot_password_request') }}">{{ 'Mot de passe oublié ?'|trans }}</a>
    </form>
{% endblock %}
