{% extends 'base.html.twig' %}

{% block body %}
    <h1>{% trans %}Paramètres{% endtrans %}</h1>
    {{ form_start(userForm) }}
    {{ form_widget(userForm) }}
    <button type="submit">{% trans %}Sauvegarder{% endtrans %}</button>
    {{ form_end(userForm) }}

    <h1>{% trans %}Préférences par défaut{% endtrans %}</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">{% trans %}Sauvegarder{% endtrans %}</button>
    {{ form_end(form) }}
{% endblock %}

{% block title %}

{% endblock %}

