{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/weatherDashboard.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/mainCard.css') }}">
{% endblock %}

{% block title %}WeatherCompass{% endblock %}

{% block body %}
    <main class='weatherDashboard'>
        <div class='weatherInformation'>

            <div class="mainCard">

                <div class="date-container">
                    <span class="when">Aujourd'hui</span>
                    <span class="date">{{ "now"|date('l j F') }}</span>
                </div>

                <div class='weather-tl'>
                    {# <img src="{{ asset('images/icons/' ~ paris.weather[0].icon ~ '.svg') }}" alt="Current Weather"> #}
                    {% include "components/icons/" ~ paris.weather[0].icon ~ ".svg" %}
                </div>


                <div class="weather-tr">
                    <div class="weather">
                        <h2>{{ paris.name }}</h2>
                        <span class="weather-text">{{ paris.weather[0].description|capitalize }}</span>
                        <span class="weather-temp">{{ paris.main.temp }}°C</span>
                    </div>
                </div>


                <div class="weather-br">
                    <div class="temp-feels">
                        <span class="temp-text">Ressenti</span>
                        <span class="temp-stat">{{ paris.main.feels_like }}°C</span>
                    </div>
                    <div class="temp-wrapper">
                        <div class="tempCard">
                            <img src="{{ asset('images/icons/tmp_lowest.svg') }}" alt="low temperature icon">
                            <span class="temp-title">Min.</span>
                            <span class="temp">{{ paris.main.temp_min|number_format(1, '.', ',') }}°</span>
                        </div>
                        <div class="tempCard">
                            <img src="{{ asset('images/icons/tmp_highest.svg') }}" alt="high temperature icon">
                            <span class="temp-title">Max.</span>
                            <span class="temp">{{ paris.main.temp_max|number_format(1, '.', ',') }}°</span>
                        </div>
                    </div>
                </div>

                <div class="weather-bl">
                    <img src="{{ asset('images/icons/windsock.svg') }}" alt="wind icon">
                    <div class="statCard">
                        <span class="stat-title">Vitesse</span>
                        <span class="stat">{{ paris.wind.speed }} m/s</span>
                    </div>
                    <div class="statCard">
                        <span class="stat-title">Direction</span>
                        <span class="stat">{{ paris.wind.direction }}</span>
                    </div>
                    <img src="{{ asset('images/icons/rain.svg') }}" alt="rain icon">
                    <div class="statCard">
                        <span class="stat-title">Nuageux à</span>
                        <span class="stat">{{ paris.clouds.all }}%</span>
                    </div>
                    <div class="statCard">
                        <span class="stat-title">Humidité</span>
                        <span class="stat">{{ paris.main.humidity }}%</span>
                    </div>
                    <img src="{{ asset('images/icons/sun.svg') }}" alt="rain icon">
                    <div class="statCard">
                        <span class="stat-title">Lever</span>
                        <span class="stat">{{ paris.sys.sunrise|date('H:i') }}</span>
                    </div>
                    <div class="statCard">
                        <span class="stat-title">Coucher</span>
                        <span class="stat">{{ paris.sys.sunset|date('H:i') }}</span>
                    </div>
                </div>

            </div>
        </div>
        <div class='weatherTowns'>
            <h2>Aujourd'hui en France</h2>
            <div class="weatherCard-container">
                {% for weather in defaultWeathers %}
                    {% include 'components/weatherCard.html.twig' with {
                        weather: weather
                    } %}
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}
