{% extends 'base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('scripts/swipers.js') }}" type="module"></script>
    <script src="{{ asset('scripts/forecastListAccordeon.js') }}" type="module"></script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.css">
    <link rel="stylesheet" href="{{ asset('styles/weatherDashboard.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/forecastList.css') }}">
{% endblock %}

{% block title %}WeatherCompass{% endblock %}

{% block body %}
    {% if unit == 'metric' %}
        {% set unit = '°C' %}
    {% else %}
        {% set unit = '°F' %}
    {% endif %}
    <nav>
        <div class="nav-container">
            <a class='nav-logo' href="{{ path('app_home') }}">
                <img src='{{ asset('images/icons/logo.svg') }}' alt='Logo Weather Compass'>
                <span>Weather Compass</span>
            </a>
            <div class="nav-search">
                {{ form_start(form, {'attr': {'id': 'search-form'}}) }}
                {{ form_row(form.result) }}
                <button type="submit">{% trans %}Rechercher{% endtrans %}</button>
                {{ form_end(form) }}
            </div>
            {% if app.user %}
                <div class='nav-links'>
                    <a href="{{ path('app_preferences') }}">
                        {% include "components/icons/gear.svg" %}
                    </a>
                    <a href="{{ path('app_logout') }}">
                        {% include "components/icons/logout.svg" %}
                    </a>
                </div>
            {% else %}
                <div class='nav-links'>
                    <a href="{{ path('app_login') }}">
                        {% include "components/icons/login.svg" %}
                    </a>
                </div>
            {% endif %}

        </div>
    </nav>
    <main class='weatherDashboard'>
        <div class='weatherInformation'>

            <div class="mainCard forecastCard forecastCard-active">

                <div class="date-container">
                    <span class="when">{% trans %}Aujourd'hui{% endtrans %}</span>
                    <span class="date">{{ "now"|format_date('full') }}</span>
                </div>

                <div class='weather-tl' id="icon">
                    {% include "components/icons/" ~ weather.weather[0].icon ~ ".svg" %}
                </div>


                <div class="weather-tr">
                    <div class="weather">
                        <div class='weather-city'>
                            <h2>{{ weather.name }}</h2>
                            {% if userConnected %}
                                {% if favoriteCities and weather.id in favoriteCities|keys %}
                                    <button class="btn-ajax-response" onclick="removeFavouriteCity('{{ weather.id }}')">
                                        {% include "components/icons/star_filled.svg" %}
                                    </button>
                                {% else %}
                                    <button class="btn-ajax-response" onclick="addFavouriteCity('{{ weather.id }}', '{{ userPreferences.unit }}', '{{ userPreferences.lang }}')">
                                        {% include "components/icons/star_empty.svg" %}
                                    </button>
                                {% endif %}
                                <button class="btn-ajax-response_rm" onclick="removeFavouriteCity('{{ weather.id }}')">
                                    {% include "components/icons/star_filled.svg" %}
                                </button>
                                <button class="btn-ajax-response_add" onclick="addFavouriteCity('{{ weather.id }}', '{{ userPreferences.unit }}', '{{ userPreferences.lang }}')">
                                    {% include "components/icons/star_empty.svg" %}
                                </button>
                            {% endif %}
                        </div>
                        <span class="weather-text">{{ weather.weather[0].description|capitalize }}</span>
                        <span class="weather-temp">{{ weather.main.temp }}{{ unit }}</span>
                    </div>
                </div>


                <div class="weather-br">
                    <div class="temp-feels">
                        <span class="temp-text">{% trans %}Ressenti{% endtrans %}</span>
                        <span class="temp-stat">{{ weather.main.feels_like }}°C</span>
                    </div>
                    <div class="temp-wrapper">
                        <div class="tempCard">
                            {% include "components/icons/tmp_lowest.svg" %}
                            <span class="temp-title">{% trans %}Min.{% endtrans %}</span>
                            <span class="temp">{{ weather.main.temp_min|number_format(1, '.', ',') }}°</span>
                        </div>
                        <div class="tempCard">
                            {% include "components/icons/tmp_highest.svg" %}
                            <span class="temp-title">{% trans %}Max.{% endtrans %}</span>
                            <span class="temp">{{ weather.main.temp_max|number_format(1, '.', ',') }}°</span>
                        </div>
                    </div>
                </div>

                <div class="weather-bl">
                    {% include "components/icons/windsock.svg" %}
                    <div class="statCard">
                        <span class="stat-title">{% trans %}Vitesse{% endtrans %}</span>
                        <span class="stat">{{ weather.wind.speed }} m/s</span>
                    </div>
                    <div class="statCard">
                        <span class="stat-title">{% trans %}Direction{% endtrans %}</span>
                        <span class="stat">{{ weather.wind.direction }}</span>
                    </div>
                    {% include "components/icons/rain.svg" %}
                    <div class="statCard">
                        <span class="stat-title">{% trans %}Nuageux à{% endtrans %}</span>
                        <span class="stat">{{ weather.clouds.all }}%</span>
                    </div>
                    <div class="statCard">
                        <span class="stat-title">{% trans %}Humidité{% endtrans %}</span>
                        <span class="stat">{{ weather.main.humidity }}%</span>
                    </div>
                    {% include "components/icons/sun.svg" %}
                    <div class="statCard">
                        <span class="stat-title">{% trans %}Lever{% endtrans %}</span>
                        <span class="stat">{{ weather.sys.sunrise|date('H:i') }}</span>
                    </div>
                    <div class="statCard">
                        <span class="stat-title">{% trans %}Coucher{% endtrans %}</span>
                        <span class="stat">{{ weather.sys.sunset|date('H:i') }}</span>
                    </div>
                </div>
            </div>

            {% for forecast in forecastList %}
                {% include 'components/forecastCard.html.twig' with {
                    forecast: forecast,
                    location : weather.name
                } %}
            {% endfor %}
        </div>
        <div class='weatherTowns'>

            <div>
                <h2>Favorits</h2>

                <div class='recommendedCities swiper'>
                    <div class="swiper-wrapper">
                        {% for weather in favoriteCities %}
                            {% include 'components/weatherCard.html.twig' with {
                                weather: weather
                            } %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div>
                <h2>Aujourd'hui en France</h2>

                <div class='recommendedCities swiper'>
                    <div class="swiper-wrapper">
                        {% for weather in defaultWeathers %}
                            {% include 'components/weatherCard.html.twig' with {
                                weather: weather
                            } %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="{{ asset('scripts/favouriteCities.js') }}"></script>
    <script src="{{ asset('scripts/cityCards.js') }}"></script>
{% endblock %}
