{% extends 'base.html.twig' %}

{% block title %}{{ 'Inscription'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/forms.css') }}">
{% endblock %}

{% block body %}
    <nav class='nav-go-back'>
        <a href="{{ path('app_home') }}">
            {% include "components/icons/arrow_left.svg" %}
            {{ 'Retour'|trans }}
        </a>
    </nav>

    <h1>{{ 'Inscription'|trans }}</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.username) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.plainPassword, {
        label: 'Password'
    }) }}

    <button type="submit" class="btn">{{ 'Valider'|trans }}</button>
    <a href="{{ path('app_login') }}">{{ 'Se connecter'|trans }}</a>
    {{ form_end(registrationForm) }}
{% endblock %}
