{% extends 'base.html.twig' %}

{% block title %}{% trans %}Inscription{% endtrans %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/forms.css') }}">
{% endblock %}

{% block body %}
    <nav class='nav-go-back'>
        <a href="{{ path('app_home') }}">
            {% include "components/icons/arrow_left.svg" %}
            Retour
        </a>
    </nav>

    <h1>{% trans %}Inscription{% endtrans %}</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.username) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.plainPassword, {
        label: 'Password'
    }) }}

    <button type="submit" class="btn">{% trans %}Valider{% endtrans %}</button>
    <a href="{{ path('app_login') }}">{% trans %}Se connecter{% endtrans %}</a>
    {{ form_end(registrationForm) }}
{% endblock %}
