<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/global.css') }}">
        <link rel="stylesheet" href="{{ asset('styles/mainCard.css') }}">
    {% endblock %}

    {% block javascripts %}
        {#
        {% block importmap %}{{ importmap('app') }}{% endblock %}
        #}
    {% endblock %}
</head>
<body>
<nav>
    <div class="nav-container">
        <a class='nav-logo' href="{{ path('app_home') }}">
            <img src='{{ asset('images/icons/logo.svg') }}' alt='Logo Weather Compass'>
            <span>Weather Compass</span>
        </a>
        <input class='nav-search'
               aria-label='Search'
               type="search"
               name="search"
               id="search"
               placeholder="Rechercher...">
    </div>
</nav>
{% block body %}{% endblock %}
</body>
</html>
