{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/weatherCard.css') }}">
{% endblock %}

<div class="forecastCard" data-location="{{ location }}" data-datetime="{{ forecast.dt_txt }}">

    <div class="date-container">
        <span class="when">{{ forecast.dt_txt|date('l') }}</span>
        <span class="date">{{ forecast.dt_txt|date('d F') }}</span>
    </div>

    <div class='weather-tl' id="icon">
        {% include "components/icons/" ~ forecast.weather[0].icon ~ ".svg" %}
    </div>


    <div class="weather-tr">
        <div class="weather">
            <h2>{{ weather.name }}</h2>
            <span class="weather-text">{{ forecast.weather[0].description|capitalize }}</span>
            <span class="weather-temp">{{ forecast.main.temp }}{{ unit }}</span>
        </div>
    </div>


    <div class="weather-br">
        <div class="temp-feels">
            <span class="temp-text">{% trans %}Ressenti{% endtrans %}</span>
            <span class="temp-stat">{{ forecast.main.feels_like }}°C</span>
        </div>
        <div class="temp-wrapper">
            <div class="tempCard">
                {% include "components/icons/tmp_lowest.svg" %}
                <span class="temp-title">{% trans %}Min.{% endtrans %}</span>
                <span class="temp">{{ forecast.main.temp_min|number_format(1, '.', ',') }}°</span>
            </div>
            <div class="tempCard">
                {% include "components/icons/tmp_highest.svg" %}
                <span class="temp-title">{% trans %}Max.{% endtrans %}</span>
                <span class="temp">{{ forecast.main.temp_max|number_format(1, '.', ',') }}°</span>
            </div>
        </div>
    </div>

    <div class="weather-bl">
        {% include "components/icons/windsock.svg" %}
        <div class="statCard">
            <span class="stat-title">{% trans %}Vitesse{% endtrans %}</span>
            <span class="stat">{{ forecast.wind.speed }} m/s</span>
        </div>

        {#
        <div class="statCard">
            <span class="stat-title">{% trans %}Direction{% endtrans %}</span>
            <span class="stat">{{ forecast.wind.direction }}</span>
        </div>
        #}
        {% include "components/icons/rain.svg" %}
        <div class="statCard">
            <span class="stat-title">{% trans %}Nuageux à{% endtrans %}</span>
            <span class="stat">{{ forecast.clouds.all }}%</span>
        </div>
        <div class="statCard">
            <span class="stat-title">{% trans %}Humidité{% endtrans %}</span>
            <span class="stat">{{ forecast.main.humidity }}%</span>
        </div>

        {#
        <img src="{{ asset('images/icons/sun.svg') }}" alt="rain icon">
        <div class="statCard">
            <span class="stat-title">{% trans %}Lever{% endtrans %}</span>
            <span class="stat">{{ weather.sys.sunrise|date('H:i') }}</span>
        </div>
        <div class="statCard">
            <span class="stat-title">{% trans %}Coucher{% endtrans %}</span>
            <span class="stat">{{ weather.sys.sunset|date('H:i') }}</span>
        </div>
        #}
    </div>
</div>