{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/weatherCard.css') }}">
{% endblock %}

<div class="weatherCard">
    <div class="weather-container">
        <img src="{{ asset('images/icons/' ~ weather.weather[0].icon ~ '.svg') }}" alt="rain icon">
        <div class="weather">
            <h2>{{ weather.name }}</h2>
            <span class="weather-text">{{ weather.weather[0].description|capitalize }}</span>
            <span class="weather-temp">{{ weather.main.temp }}°C</span>
        </div>
    </div>

    <div class="weatherCard-bottom">
        <div class="rain-container">
            <img src="{{ asset('images/icons/rain.svg') }}" alt="rain icon">
            <div class="rainCard">
                <span class="rain-title">Nuageux à</span>
                <span class="rain">{{ weather.clouds.all }}%</span>
            </div>
            <div class="rainCard">
                <span class="rain-title">Humidité</span>
                <span class="rain">{{ weather.main.humidity }}%</span>
            </div>
        </div>

        <div class="temp-container">
            <div class="tempCard">
                <img src="{{ asset('images/icons/tmp_lowest.svg') }}" alt="low temperature icon">
                <span class="temp-title">Min.</span>
                <span class="temp">{{ weather.main.temp_min|number_format(1, '.', ',') }}°</span>
            </div>
            <div class="tempCard">
                <img src="{{ asset('images/icons/tmp_highest.svg') }}" alt="high temperature icon">
                <span class="temp-title">Max.</span>
                <span class="temp">{{ weather.main.temp_max|number_format(1, '.', ',') }}°</span>
            </div>
        </div>
    </div>
</div>
